Repository shivabitla/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shivabitla, @fob2000, @jeffstof, @Infinitecupcakes

Update README.md
  apis/poi/README.md
Owners: @fob2000

Update user.js
  apis/userprofile/data/healthcheck/user.js
Owners: @Infinitecupcakes

Create main.yml
  .github/workflows/main.yml
Owners: none

Update UtilityTests.cs
  apis/poi/tests/UnitTests/UtilityTests.cs
Owners: @fob2000

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Create ISSUE_TEMPLATE_custom.md
  .github/ISSUE_TEMPLATE_custom.md
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update ISSUE_TEMPLATE_custom.md
  .github/ISSUE_TEMPLATE_custom.md
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update UserRepositoryServiceTest.java
  apis/user-java/src/test/java/UserRepositoryServiceTest.java
Owners: @jeffstof

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update main.yml
  .github/workflows/main.yml
Owners: none

Update UserRepositoryServiceTest.java
  apis/user-java/src/test/java/UserRepositoryServiceTest.java
Owners: @jeffstof

Create user.yml
  .github/user.yml
Owners: none

Create trips.yml
  .github/workflows/trips.yml
Owners: none

Update and rename main.yml to main-java-api.yml
  .github/workflows/main-java-api.yml
Owners: none

Update and rename main.yml to POI.yml
  .github/workflows/POI.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update and rename main.yml to user.yml
  .github/workflows/user.yml
Owners: none

Update and rename main.yml to user.yml
  .github/workflows/user.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Create java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

.github/CODEOWNERS:

/apis/trips @shivabitla
/apis/poi @fob2000
/apis/user-java @jeffstof
/apis/userprofile @Infinitecupcakes
