Repository shivabitla/openhack-devops-team, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shivabitla, @fob2000, @jeffstof, @Infinitecupcakes

.github/CODEOWNERS:

/apis/trips @shivabitla
/apis/poi @fob2000
/apis/user-java @jeffstof
/apis/userprofile @Infinitecupcakes

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update Dockerfile
  apis/trips/Dockerfile
Owners: @shivabitla

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update healthCheckService.go
  apis/trips/tripsgo/healthCheckService.go
Owners: @shivabitla

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Delete user.yml
  .github/user.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update trips.yml
  .github/workflows/trips.yml
Owners: none

Update java-cd.yml
  .github/workflows/java-cd.yml
Owners: none

Update user.yml
  .github/workflows/user.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Update POI.yml
  .github/workflows/POI.yml
Owners: none

Create main.yml
  .github/workflows/main.yml
Owners: none

Create main.yml
  .github/workflows/main.yml
Owners: none

Update Healthcheck.cs
  apis/poi/web/Models/Healthcheck.cs
Owners: @fob2000

Update healthCheckService.go
  apis/trips/tripsgo/healthCheckService.go
Owners: @shivabitla

Update HealthcheckApi.java
  apis/user-java/src/main/java/io/swagger/api/HealthcheckApi.java
Owners: @jeffstof
